@import '../../../styles/variables.scss';

.list__item--completed {
  border-color: transparent;
  color: $light-gray;
  text-decoration: line-through;
}

.checkbox {
  color: $gray;

  & > svg {
    height: 1.3rem;
    margin-right: 0.25rem;
  }
}
